/*region common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow: hidden;
}

/*region debug*/
.debug .top{
    background-color: aqua;
}
/*body*/
.wrapper{
    height: 100vh;
    background-color: black;
}

    .top{
        display: flex;
        height: calc(100% - 80px);

        .sidebar, content{
            height: 100%;
        }

        /*header*/
        .sidebar{
            width: 245px;
            background-color: beige;
            flex-shrink: 0;  
        }
        /*main*/
        .content{
            width: calc(100% - 245);
            overflow-y: auto;
            padding: 2rem;
        }
    }
/*footer*/
    .botton{
        height: 80px;
        background-color: grey;
    }



